.body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.header {
    width: 100vw;
    display: flex;
}

.title{
    margin-left:10px ;
    margin-top:10px ;
}


.my-link{
    margin: 0 3px;
    display: flex;
}

.upload_area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.upload_file {
    border: 1px black solid;
    margin-right:5px ;
}

.upload_btn{
    padding: 2px;
}

.progress_label{
    margin: 0;
}